/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* This file is for your main application css. */
body.dark-mode {
  background: black;
  color: white; }

.force-layout-container {
  position: relative; }

.info-box {
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 2;
  font-size: 12px; }

.info-box-section-header {
  background: rgba(255, 255, 255, 0.9);
  display: inline; }
  .info-box-section-header:after {
    content: "\A";
    white-space: pre; }

#info-box-input {
  width: 300px;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  outline-width: 0; }
  #info-box-input::placeholder {
    color: #ccc; }

#info-box-header {
  margin-bottom: 8px; }

.info-box-section-header {
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 1.6; }

.info-box .total-files-container {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.3px; }

.highlight-box {
  display: none; }

.info-box-file-list {
  line-height: 1.5; }

.inline-item {
  display: inline;
  pointer-events: auto;
  line-height: 1.4;
  background: rgba(255, 255, 255, 0.9); }
  .inline-item:after {
    content: "\A";
    white-space: pre; }
  .inline-item:last-child {
    padding-bottom: 0; }

svg.main {
  position: relative;
  z-index: 1; }
  body.dark-mode svg.main {
    background: black; }

.node-type-view {
  fill: lightblue; }

.node-type-controller {
  fill: blue; }

.node-type-live {
  fill: 'green'; }

path.direction-animate, line.direction-animate {
  stroke-dasharray: 5 1;
  animation: movedash 1s infinite linear; }

@keyframes movedash {
  0% {
    stroke-dashoffset: 12; }
  100% {
    stroke-dashoffset: 0; } }

.ui-header {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #59386c; }

.glossary-box {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 10px;
  font-size: 12px; }
  .glossary-box .box {
    height: 8px;
    width: 8px; }

.tab-bar {
  display: flex;
  pointer-events: auto; }
  .tab-bar .tab {
    opacity: 0.7;
    margin-right: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #59386c;
    text-transform: uppercase;
    padding-bottom: 3px; }
    .tab-bar .tab.active {
      opacity: 1;
      font-weight: bold;
      border-bottom: 1px solid #59386c; }

.project-name {
  font-size: 2.4em; }

.explain-text {
  font-size: 14px; }

.mode-switcher .explain-text-container {
  opacity: 0;
  transition: opacity ease-in-out 0.3s; }

.mode-switcher .controls:hover .explain-text-container {
  opacity: 1; }

svg.selected-node-indicator, svg.file-indicator {
  width: 20px;
  height: 20px; }

svg.line-indicator {
  width: 20px;
  height: 20px; }

svg.dep-type-indicator {
  width: 40px;
  height: 20px; }

.key-box table tr td:first-child {
  width: 30px; }

.dep-box table tr td:first-child {
  width: 50px; }

.initial-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); }
  .initial-interface .content {
    max-width: 400px; }

.sample-dot-list .sample-dot {
  background: none;
  cursor: pointer; }
  .sample-dot-list .sample-dot:hover {
    font-weight: bold; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Mono Regular"), local("FiraMono-Regular"), url(/fonts/fira_mono/FiraMono-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(/fonts/fira_sans/FiraSans-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url(/fonts/fira_sans/FiraSans-SemiBold.ttf) format("truetype"); }

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url(/fonts/fira_sans/FiraSans-Italic.ttf) format("truetype"); }

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif; }

body .monospace {
  font-family: 'Fira Mono', monospace; }

body.initial {
  background: #eee; }

nav {
  display: flex;
  justify-content: space-between;
  background: #59386c;
  color: white;
  padding: 12px;
  padding-left: 20px; }
  nav h1 {
    margin: 0;
    font-size: 1.2em; }
  nav a {
    color: white; }
    nav a:hover {
      color: white; }
  nav .logo {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px; }

main.container {
  padding-top: 12px; }

nav > ul {
  margin: 0; }

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none; }

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out; }

.phx-disconnected {
  cursor: wait; }

.phx-disconnected * {
  pointer-events: none; }

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.alert p {
  margin-bottom: 0; }

.alert:empty {
  display: none; }

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem; }

nav li {
  margin: 0 4px; }
  nav li a {
    font-size: 0.8rem; }

div.rule {
  border-bottom: 2px solid #59386c;
  opacity: 50%;
  width: 100%; }

.compile-red {
  color: #d32a3a; }

.ui-purple {
  color: #59386c; }

.display-none {
  display: none; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: inline-block; }

.flex {
  display: flex; }

.flex-align-center {
  align-items: center; }

.list-style-none {
  list-style: none; }

.p-4 {
  padding: 12px; }

.p-r-0 {
  padding-right: 0; }

.p-l-0 {
  padding-left: 0; }

.m-2 {
  margin: 6px; }

.m-l-4 {
  margin-left: 12px; }

.m-r-2 {
  margin-right: 6px; }

.m-r-4 {
  margin-right: 12px; }

.m-b-2 {
  margin-bottom: 6px; }

.m-b-4 {
  margin-bottom: 12px; }

.m-b-6 {
  margin-bottom: 18px; }

.m-t-2 {
  margin-top: 6px; }

.m-t-4 {
  margin-top: 12px; }

.pointer-events-none {
  pointer-events: none; }

.pointer-events-auto {
  pointer-events: auto; }

.hover-bold:hover {
  font-weight: 600; }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.text-large {
  font-size: 16px; }

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem; }

.pre {
  white-space: pre; }

