body.dark-mode {
  background: black;
  color: white;
}

.force-layout-container {
  position: relative;
}

.highlight-box {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.info-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

#info-box-input {
  margin-bottom: 16px;
}

#info-box-header {
  margin-bottom: 8px;
}

.info-box-file-list {
  font-size: 12px;
  line-height: 1.5;
}

.info-box-item {
  // We want each item to only take up it's exact width so that pointer events
  // fall back to the SVG
  display: inline;
  &:after {
    content: "\A";
    white-space: pre;
  }
}

svg.main {
  position: relative;
  z-index: 1;
  left: 150px;
  border: 1px solid black;

  body.dark-mode & {
    background: black;
  }
}

svg line {
}

#node_tooltip {
  padding: 8px;
  color: black;
  background: rgba(204, 204, 204, 0.6)
}
#node_tooltip .inner_tooltip {
  background-color: rgba(255,255,255,0.7);
  line-height: 1.5;
  padding: 15px;
}

.tooltip {
  position: absolute;
  z-index: 999;
  max-width: 85%;
}

.node-type-view {
  fill: lightblue;
}

.node-type-controller {
  fill: blue;
}

.node-type-live {
  fill: 'green';
}

// SVG animation inspired by https://codepen.io/AmeliaBR/pen/kjnoz
path.direction-animate, line.direction-animate {
  stroke-dasharray: 5 1;
  animation: movedash 1s infinite linear;
}

// Note: the specific values used here are important for the animation to not
// appear "jumpy"
@keyframes movedash {
  0% {stroke-dashoffset: 12;}
  100% {stroke-dashoffset:0;}
}
