body.initial {
  display: flex;
  flex-direction: column;
  height: 100vh;

  main.container {
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    flex: 1;
  }
}

.initial-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .content {
    max-width: 400px;
  }
}

.sample-dot-list {
  .sample-dot {
    background: none;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
