<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "DepViz", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="initial">
    <header>
      <section class="container">
        <nav role="navigation">
          <div class="flex flex-align-center">
            <img class="logo" src="<%= Routes.static_path(@conn, "/images/depviz_logo_reverse.png") %>">
            <h1 class="m-r-4">DepViz</h1>
            <div>
              A visual tool to understand Elixir recompilation.
            </div>
          </div>
          <ul class="flex list-style-none">
            <li><a href="how_to_use">how to use</a></li>
            <li><a href="about">about</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
